*{margin: 0;padding: 0;}
.cf:after{
  content: "";
  display: block;
  clear: both;
}
/* 이렇게 작성하고 높이가 필요한 부분에 class="cf" 넣기 (clearfix)
why? -> */

.bigbox{
  width:1000px;
  border:5px solid tan;
  margin: 0 auto; 
  padding-bottom: 30px;
}
.bigbox h2{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bigbox .box{
  float:left;
  border: 5px solid lime;
  margin-left: 32px;
  margin-top: 30px;
  width:200px;
  height:150px;
}

.bigbox .box img{
  display:block;
  width:100%;
}

.abigbox{
    width:1000px;
    border:5px solid tan;
    margin: 0 auto; 
    padding-bottom: 30px;
  }
  .abigbox h2{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .abigbox .abox{
    /* aboc라는 공통클래스를 float */
    float:left;
    border: 5px solid lime;
    margin-left: 32px;
    margin-top: 30px;
    width:200px;
    height:150px;
  }
  

  .abigbox .abox img{
    display:block;
    width:100%;
  }

  /* 박스 안에서 이미지만 커짐
  (hover 차이) */
  .abox1{overflow:hidden;}
  .abox1 img{
      transform: scale(1);
      transition: all 0.3s;
  }
  .abox1:hover img{
      transform: scale(1.3);
  }

/* 박스 자체가 커짐 */
.abox2{overflow:hidden;}
.abox2 img{
    transform: scale(1);
    transition: all 0.3s;
}
.abox2:hover{
    transform: scale(1.3);
}

/* y방향만 늘렸으므로 위아래로 길어짐 */
.abox3{overflow:hidden;}
.abox3 img{
    transform: scale(1,1);  /* scale(1) scale(1,1) 기본값이므로 생략 가능 */
    transition: all 0.3s;
}
.abox3:hover img{
    transform: scale(1,1.5);
}



.bbigbox .bbox img{
    display:block;
    width:100%;
  }
.bbigbox{
    width:1000px;
    border:5px solid tan;
    margin: 0 auto; 
    padding-bottom: 30px;
  }
  .bbigbox h2{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .bbigbox .bbox{
    float:left;
    border: 5px solid lime;
    margin-left: 32px;
    margin-top: 30px;
    width:200px;
    height:150px;
  }
  

  .bbox1 img{
    transform:rotate(0deg);
    transition: all 0.3s;
  }
  .bbox1:hover img{
    transform:rotate(360deg);
  }

  .bbox2 img{
    transform:rotateY(0deg);
    transition: all 0.3s;
  }
  .bbox2:hover img{
    transform:rotateY(360deg);
  }

  .bbox3 img{
    transform-origin: left top;
    transform: rotate(0deg);
    transition: all 0.3s;
  }
  .bbox3:hover img{
    transform: rotate(360deg);
  }
  
  .bbox4{
    perspective: 200px;
  }
  .bbox4 img{
    transform-origin:left top;
    transform:rotateY(0deg);
    transition: all 0.3s;
  }
  .bbox4:hover img{
    transform:rotateY(360deg);
  }

  .cbigbox .cbox img{
    display:block;
    width:100%;
  }
.cbigbox{
    width:1000px;
    border:5px solid tan;
    margin: 0 auto; 
    padding-bottom: 30px;
  }
  .cbigbox h2{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .cbigbox .cbox{
    float:left;
    border: 5px solid lime;
    margin-left: 32px;
    margin-top: 30px;
    width:200px;
    height:150px;
  }
  
.cbigbox .cbox img{
    display:block;
    width:100%;
  }

  /* cbox1과 cbox2 동일하게 움직임
  position 사용했냐, translate 사용했냐의 차이 */

.cbox1{
    position:relative;
    overflow:hidden;
}
.cbox1 img{
    position:absolute;
    top:150px;
    left:0px;
    transition: all 0.3s;
}
.cbox:hover img{
    top:0;
}

.cbox2{
    overflow:hidden;
}

.cbox2 img{
    transform: translate(0,150px);
    transition: all 0.3s;
}
.cbox2:hover img{
    transform: translate(0,0);
}

.cbox3{
    position:relative;
    overflow:hidden;
}

/* html로 글자 쓰기 힘든 상황에 after/before content에 쓰면 유용 */
/* after이면 글자가 사진 다음에, before이면 사진 전에 위치함 */
.cbox3::before{
    content:"베스트 1 상품";
    position:absolute;
    width:100%;
    height:40px;
    bottom:-40px;
    background-color:pink;
    color:black;
    text-align:center;
    line-height:40px;
    transition: all 0.3s;
}
.cbox3:hover::before{
    bottom:0;
}

.cbox4{
    position:relative;
}

.cbox4::after{
    content:"";
    position:absolute;
    width:0%;
    height:100%;
    background-color:rgb(255, 97, 195,0.5);
    transition: all 0.3s;
    top:0;
    left:0;
}
.cbox4:hover::after{
    width:100%
}
.cbox4 p{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    padding-top:20%;
    box-sizing: border-box;
    text-align:center;
    font-size: 14px;
    font-weight:bold;
    color:white;
    /* background-color:rgba(0,0,255,0.5); */
    transition: 0.3s;
    z-index: 1;
    transition: all 0.3s;
    opacity:0;
    background: url(../images/more.png) no-repeat 50% 70%;
}
.cbox4:hover p{
    opacity:1;
}