*{margin:0; padding:0;}
ul{list-style: none;}
a{text-decoration: none; color: #555555;}

header{
    width:100%;
    height: 110px;
    background: url(../img/header_line.png) no-repeat 50% 100%;
}
header .logo{
    width: 252px;
    height: 50px;
    background: url(../img/logo.png);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
nav{
    width:100%;
    height: 50px;
    background-color: pink;
    position: relative;
    top:60px;
    text-align:center;
    /* overflow:hidden; */
    translate: all 0.3s;
    background: url(../img/header_line.png) no-repeat 50% 100%;
}
.shadow{
    width:1000px;
    height:400px;
    background:white;
    position:absolute;
    top:50px;
}
.nav_wrap{
    width:1000px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
}
.nav_wrap ul{
    float:left;
    margin: 0 auto;
    width:200px;
}
.nav_wrap ul li{
    padding: 15px 0;
}
.nav_wrap>ul>li:hover {
    height: 400px;
}
.nav_wrap ul ul li{
    padding: 10px 0;
    font-size: 14px;
}
.nav_wrap ul ul li a{
    padding: 0 15px;
}

.submenu li:hover a{
    text-decoration: underline;
    color:black;
    background: url(../img/menu_hover.png) no-repeat;
    background-size: 15px 20px;

}