*{margin:0; padding:0;}
ul{list-style: none;}
a{text-decoration: none; color: #555555;}

header{
    width:100%;
    height: 110px;
    background: url(../img/header_line.png) no-repeat 50% 100%;
}
header .logo{
    width: 252px;
    height: 50px;
    background: url(../img/logo.png);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
nav{
    width:1000px;
    height: 50px;
    margin: 0 auto;
    background-color: pink;
    position: relative;
    top:60px;
    text-align:center;
    /* overflow:hidden; */
    translate: all 0.3s;
    /* background: url(../img/header_line.png) no-repeat 50% 100%; */
}


nav>ul>li{
    width:200px;
    float:left;
}
nav>ul>li a{
    display:block;
    text-align: center;
    padding: 13px 50px;
}

.shadow{
    width:1000px;
    height:400px;
    background:skyblue;
    /* position:absolute; */
    top:50px;
    margin: 0 auto;
    opacity:0;
    translate: all 0.4s;
}


.submenu li:hover a{
    text-decoration: underline;
    color:black;
    background: url(../img/menu_hover.png) no-repeat;
    background-size: 15px 20px;

}
